@{
    ViewData["Title"] = "Bedankt";
}
<div class="thanks-container">
<h1 class="thanks-title">Bedankt voor uw aanvraag!</h1>
<h2 class="thanks-text">Wij gaan uw aanvraag zo spoedig mogelijk verwerken. <br />Er wordt een bevestiging naar uw inbox verstuurd.</h2>
<div><a class="button button-green" asp-controller="Configurator" asp-action="Index">Configurator</a></div>
</div>